
h1{
  color: white;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1;
  text-align: center;
  transition: 1000ms all ease-in-out;
}

.hello-w{
  padding-block: 10%;
}

.hello-w:hover {
  cursor: pointer;
  animation: growShrink 2s infinite alternate;
}

@keyframes growShrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
