<div class="h-description">

  <h2 class="aboutme mb-5">
    <mark class="px-2 text-white bg-violet-600 rounded dark:bg-violet-500">
      Sobre mim
    </mark>
  </h2>
  <div class="desc">
    <p class="principal-description">Ana Julia Marçal - 19y - Full stack Developer</p>
    <p class="sub-description">Tenho 2 anos de experiência,
      faço análise e desenvolvimento de sistemas na Mackezine, trabalho na Wind e
      escrevo alguns artigos sobre tecnologia e programação.<br>
    </p>
  </div>
</div>
