<section class="text-gray-400 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="p-4 lg:w-auto flex flex-col bg-gray-900 rounded-lg transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 hover:bg-gray-850 duration-300">
      <div class="flex items-center mb-4">
        <div class="inline-flex items-center justify-center rounded-full bg-gray-800 text-indigo-400 flex-shrink-0">
          <img src="{{ project.imageUrl }}" alt="{{ project.title }}" class="w-6 h-6" />
        </div>
        <h2 class="ml-4 text-white text-lg title-font font-medium">{{ project.title }}</h2>
      </div>
      <p class="leading-relaxed text-base mb-4">{{ project.description }}</p>
      <a href="{{ project.projectLink }}" class="mt-auto text-indigo-400 inline-flex items-center">
        Acesse o projeto
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </a>
    </div>
  </div>
</section>
