<div class="body">
  <div class="component-wrapper">
    <app-nav-bar></app-nav-bar>
    <router-outlet></router-outlet>
    <app-galaxy></app-galaxy>
    <app-about-me></app-about-me>
    <app-tools></app-tools>

    <div>
      <section class="jobs mt-20">
        <h1 class="jobs-h1 text-2xl" style="color: white; text-align: center;">
          Experiência</h1>
        <div class="experience columns-auto" style="display: flex;">
          <app-job-card *ngFor="let job of jobs" [job]="job"></app-job-card>
        </div>
      </section>
    </div>

    <div>
      <section class="jobs mt-20">
        <h1 class="jobs-h1 text-2xl" style="color: white; text-align: center;">
          Projetos
        </h1>
        <div class="experience columns-auto" style="display: flex;">
          <app-projects-card *ngFor="let project of projects" [project]="project"></app-projects-card>
        </div>
      </section>
    </div>
  </div>
</div>
