html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


body{
    background-color: var(--primary-color);
    font-family: 'Unbounded', cursive;
}


/*Meu nome*/

.navbar-brand{
    transition: 500ms;
}

.navbar-brand:hover{
    cursor: pointer;
    color: rgb(176, 140, 237);
}

h1{
    color: white;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 0;
    text-align: center;
    transition: 1000ms all ease-in-out;
}


.img-galaxy{
    position: relative;
    z-index: -1;
    margin: -5% 0% 0% 45%;
    width: 10%;
    height: 10%;
}


.hello-w{
    padding-block: 10%;
}

.hello-w{
    -webkit-perspective: 1000;
    -webkit-transform: translate(0%, 0%) translateZ(-400px);
    animation: 1s ease-out 0s 1;
}

/* Rotate galaxy icon*/

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.hello-w:hover .img-galaxy {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.block-hw{
    position: absolute;
    background:#b18eed3b;
    width: 100%;
    height: 25rem;
    z-index: -99;
    margin: 0% 0% 0% 0%;
}


@media (max-width: 480px) {
.img-galaxy{
    position: relative;
    z-index: -1;
    margin: -13% 0% 0% 35%;
    width: 30%;
    height: 30%;
}


.hello-w{
    padding-block: 50%;
}

}

@media (max-width: 768px) {
    .img-galaxy{
        position: relative;
        z-index: -1;
        margin: -15% 0% 0% 35%;
        width: 30%;
        height: 30%;
    }


    .hello-w{
        padding-block: 50%;
    }

}

@media (max-width: 1024px) {
    .img-galaxy {
        position: relative;
        z-index: -1;
        margin: -10% 0% 0% 40%;
        width: 20%;
        height: 20%;
    }

    .hello-w {
        padding-block: 20%;
    }


}

@media (max-width: 1400px) {
    .h-description {
        margin-top: 17% !important;
    }

}


/* Description */

.aboutme{
    font-size: 1.8rem;
    text-align: center;
    color: #b18eed;
}

.principal-description{
    font-size: 1.2rem;
    padding-top: 0%;
    text-align: center;
    color: rgba(255, 255, 255, 0.919);
}

.sub-description{
    padding-top: 0.5%;
    font-size: 0.95rem;
    text-align: center;
    color: rgb(255, 255, 255, 0.847);
}


/* Stack */

.stack-title{
    color: #b18eed;
    padding-top: 5%;
    padding-bottom: 1.5%;
    text-align: center;
    color: rgb(255, 255, 255, 0.847);
}

.stack{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-js{
    width: 3.5%;
    height: 3.5%;
}

.img-ts{
    width: 3.5%;
    height: 3.5%;
}

.img-node{
    width: 3.5%;
    height: 3.5%;
}

.img-golang{
    width: 3.5%;
    height: 3.5%;
}

.img-angular{
    width: 3.5%;
    height: 3.5%;
}

.img-react{
    width: 3.5%;
    height: 3.5%;
}

.img-jest{
    width: 3.5%;
    height: 3.5%;
}

.img-mongo{
    width: 3.5%;
    height: 3.5%;
}

.img-mysql{
    width: 3.5%;
    height: 3.5%;
}

.img-postgresql{
    width: 3.5%;
    height: 3.5%;
}

/* Job experience */

.jobs{
    text-align: center;
}

.jobs-h1{
    padding-top: 10%;
    color: #b18eed;
}

.job-title{
    color:rgba(255, 255, 255);
    text-align: center;
    padding-left: 4%;
    padding-bottom: 4%;
}

.job-func{
    color: yellow;
}

.experience{
    padding: 0% 10% 5% 10%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.job-infos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10%;
    padding-right: 5%;
    padding-left: 5%;
}

.opengenus{
    width: 30%;
    height: 70%;
    border-radius: 10%;
    box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.265);
}

.fiverr{
    width: 30%;
    height: 70%;
    border-radius: 10%;
    box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.265);
}

.job-card{
    background-color: rgba(198, 198, 198, 0.277);
    color:rgba(255, 255, 255, 0.837);
    border-radius: 1%;
    width: 25rem;
    height: 25rem;

    border-right: 10px solid rgba(255, 255, 255, 0.492);

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    margin-top: 5%;

    text-align: center;

    transform: scale(1);
    transition: transform 0.3s 0.1s ease-in-out, opacity 300ms ease;
    box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.265);
}

.job-image:hover{
    cursor: pointer;

    transform: scale(1.2);
    transition: transform 0.3s 0.2s ease-in-out, opacity 300ms ease;
    box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.265);
}

/* Projects*/

.projects{
    padding: 10% 10% 5% 10%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.card{
    background-color: rgba(48, 120, 128, 0.277);
    border: 2px solid rgba(256, 255, 255, 0.366);
    border-radius: 2%;

    width: 25rem;
    height: 25rem;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    margin-bottom: 10%;
    margin-top: 10%;

    transform: scale(1);
    transition: transform 0.3s 0.1s ease-in-out, opacity 300ms ease;
    box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.265);
}

h3{
    color: white;
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.5;
    text-align: center;
    transition: 500ms all ease-in-out;
}

h3:hover{
    color:rgb(62, 163, 175)
}

.card:hover{
    cursor: pointer;
    transform: scale(1.2);

}

.card:hover .photoeff{
    filter:grayscale(0%);
    -webkit-filter: grayscale(0%);
}

.photoeff{
    width: 23em;
    height: 13em;
    filter:grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: 1.5s ease-in-out ;
}

.card:hover{
    filter:grayscale(0%);
    -webkit-filter: grayscale(0%);
    cursor: pointer;
    transform: translateZ(120%);
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}


.proj-desc{
    text-align: center;
    color: rgba(255, 255, 255, 0.837);
}

.proj-tech{
    color: rgba(255, 255, 255, 0.837);
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
}

.proj-desc{
    color: rgba(255, 255, 255, 0.837);
    font-weight: 300;
    font-size: 0.85rem;
    line-height: 1.5;
    text-align: center;
}

/* Footer*/

.footer{
    background-color: rgb(24, 13, 58);
    border-top: 2px solid rgba(255, 255, 255, 0.462);
    width: 100%;
    height: 2rem;
    color:rgba(255, 255, 255, 0.462);

    text-align: center;
    padding: 3% 0% 3% 0%
}
