<h2 class="stack-title">My stack:</h2>
<div class="stack">
  <img class="img-tool" src="../../assets/images/javascript.png" alt="js">
  <img class="img-tool" src="../../assets/images/typescript.png" alt="typescript">
  <img class="img-tool" src="../../assets/images/angular.png" alt="angular">
  <img class="img-tool" src="../../assets/images/golang.png" alt="golang">
  <img class="img-tool" src="../../assets/images/php.png" alt="php">
  <img class="img-tool" src="../../assets/images/mongodb.png" alt="mongodb">
  <img class="img-tool" src="../../assets/images/mysql.png" alt="mysql">
  <img class="img-tool" src="../../assets/images/postgresql.png" alt="postgresql">
</div>
