/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:root {
  --primaria: rgb(34, 23, 69);
  --secundaria: #b18eed;
  --mid-color: rgb(106, 83, 153);

  .text-primaria {
    color: var(--primaria);
  }

  .text-secundaria {
    color: var(--secundaria);
  }

  .text-terciario {
    color: var(--mid-color);
  }
}


body {
  background-color: var(--primaria);
  font-family: 'Unbounded', cursive;
}

@font-face {
  font-family: 'Unbounded';
  src: url('../src/assets/fonts/Unbounded-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
